<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <section>
        <h1>Mis películas</h1>

        <a href="/prueba/createMovie" class="btn">Crear película</a>

        <article class="film-card">
            <!-- <div>
                <img src="<%= image_url%>" class="card-image">
            </div> -->

            <div class="flex">
                <ul>
                    <li>
                        <%=title%>
                    </li>
                    <li>
                        <%=duration%>
                    </li>
                    <li>
                        <%=year_movie%>
                    </li>
                    <li>
                        <%=director%>
                    </li>
                    <li class="synopsis-overflow">
                        <%=synopsis%>
                    </li>
                </ul>
            </div>
        </article>

    </section>
</body>

</html>