<%- include('../templates/headerAdmin') %>

    <body>
        <section class="container-manage-movies">
            <h1>Mis películas</h1>
            <article class="container-create-movie">
                <a href="/admin/createmovie" class="btn-create">Crear película</a>
            </article>

            <section class="search-movies">
                <div class="movie-cards">
                    <% movies.forEach(movie=> { %>
                        <div class="movie-card">
                            <!--  <div>
                                    <img src=" movie.image_url %>" alt="movie.title %>">
                                </div> -->
                            <p class="movie-title">
                                <%= movie.title %>
                            </p>
                            <p>
                                <%= movie.year_movie %> | <%= movie.name_genre%> | <%= movie.director%>
                            </p>
                            <p class="synopsis-paragraph">
                                <%= movie.synopsis %>
                            </p>
                            <div class="btn-group">
                                <form action="/admin/removemovie" method="POST">
                                    <input type="hidden" name="id_movie" value="<%= movie.id_movie %>">
                                    <button type="submit" class="btn-delete">Eliminar</button>
                                </form>
                                <a href="/admin/editmovie/<%= movie.id_movie %>" class="btn-edit">Editar</a>
                            </div>
                        </div>
                        <% }) %>
                </div>

            </section>
    </body>

    </html>