<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <main>
        <section class="detail-container">
            <h1><%= title %></h1>
            <ul>
                <li><b>Director/a:</b> <%= director %></li>
                <li><b>Duración:</b> <%= duration %></li>
                <li><b>Año:</b> <%= year_movie %></li>
                <li><b>Género:</b> <%= genre %></li>
                <li><b>Sinopsis:</b> <%= genre %></li>
            </ul>
            <div class="movie-image">
                <img src="<%= image_url%>">
            </div>
        </section>
    </main>

</body>