<%- include('../templates/header') %>

    <body>
        <main>
            <section class="container-search">
                <h2>Buscar una película</h2>
                <form action="/user/search" method="POST" novalidate>
                    <input type="text" name="title" placeholder="Buscar película" required>
                    <button type="submit" class="btn-submit">Buscar</button>
                </form>
            </section>

            <section class="search-movies">
                <% if (movies && movies.length> 0) { %>
                    <div class="movie-cards">
                        <% movies.forEach(movie=> { %>
                            <div class="movie-card">
                                <!--  <div>
                                    <img src=" movie.image_url %>" alt="movie.title %>">
                                </div> -->
                                <a href="/user/search/<%= movie.id_movie %>">
                                    <%= movie.title %>
                                </a>
                                <p>
                                    <%= movie.year_movie %> | <%= movie.name_genre%> | <%= movie.director%>
                                </p>
                                <p class="synopsis-paragraph">
                                    <%= movie.synopsis %>
                                </p>
                                <form action="/user/movies" method="POST" class="favorite-form">
                                    <input type="hidden" name="movieId" value="<%= movie.id_movie %>">
                                    <button type="submit" class="btn-submit">Añadir a Favoritos</button>
                                </form>
                            </div>
                            <% }) %>
                    </div>
                    <% } else{ %>
                        <p class="error-msg">
                            <%= errorMsg %>
                        </p>
                        <% } %>
            </section>
        </main>
    </body>

    </html>